<% provide(:about_active, 'active') %>

<div class="container text-white">

<body background="https://s3-us-west-1.amazonaws.com/photogallery1/bk1.jpg">
</body>


<center><h1 style="color:yellow;">LaserSpace Technologies</h1></center>
				<br>
				<br>


</div>
