<% provide(:contact_active, 'active') %>


<div class="container text-white">


<body background="https://s3-us-west-1.amazonaws.com/photogallery1/bk1.jpg">
</body>


</div>


<br>
<br>



<div class="card" style="width: 65%;margin:0 auto;">

  <center><div class="card-body"></center>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="60%" height="60%" src='https://s3-us-west-1.amazonaws.com/photogallery1/contact?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
        </div>
    <h1 class="card-title, card text-center">Business Days: Monday through Saturday </h1>
    <h4 class="card text-center">Office Hours 0700 to 1800 Zula</h4>

  </div>
  </div>
