




<ul class="footer">
  <li><a href="#contact"><u><font color="yellow">Contact:</font></u></a>
  <p> William P. Hincy </p>
  <p> <a href="mailto:hincybi@gmail.com"><font color="red">Email: hincybi@gmail.com </font></p>
  <p> Phone: (661) 947-6399 </p>
  </li>
  <li><a href="#address"><u><font color="yellow">Address:</font></u></a>
  <p> 142 East Avenue R-2 </p>
  <p> Palmdale, California </p>
  <p> 93550 </p>
  </li>
  <li><a href="#hours"><u><font color="yellow">Office Hours:</font></u></a>
  <p> Weekdays (7:00 AM to 5:00 PM)</p>
  <p> Saturday (9:00 AM to 12:00 PM)
  <p> Sunday (12:00 PM to 4:00 PM)
  </li>
</ul>









<hr class="my-4" background-color="#204D74">
<center><h1>Copyright:..  LaserSpace Technologies LLC ... 2018</h1></center>
  <p class="lead"></p>


</div>
