




                    <div class="jumbotron jumbotron-fluid">



                      <video autoplay  muted >
                       <source src="https://s3-us-west-1.amazonaws.com/photogallery1/Shelterjumbo" type="video/mp4" >
                       </video>

<div class = "container ">

<figure id="logo"  class="col-md-4 col-sm-3 col-xs-12"  data-hook>
    <%= logo %>
    </figure>

  </div>






                      <!-- /.container -->
                    </div>
                    <!-- /.jumbotron -->


                    <div id="spree-header">
                      <header id="header" data-hook>
                        <div class="container">
                          <div class="row">
                            <figure id="logo" class="col-md-4 col-sm-3" data-hook>
                              <%= logo %>
                            </figure>



<%= render partial: 'spree/shared/nav_bar' %>


      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>
